<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giftingapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".AdminWishlistDashboard"
            android:label="@string/title_activity_wishlist_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SeniorViewWishlistActivity"></activity>
        <activity android:name=".SeniorViewInfoActivity" />
        <activity android:name=".SeniorViewProfileActivity" />
        <activity android:name=".SeniorDashboardActivity" />
        <activity android:name=".AddWishlistItemActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".UpdateProfileWishlistActivity" />
        <activity android:name=".UpdateProfileInfoActivity" />
        <activity android:name=".UpdateProfilePictureActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity
            android:name=".CreateNewProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>